<div class="form-body">
  <form autocomplete="off" [formGroup]="createSubscriberForm" (ngSubmit)="onCreateSubscriber()">

    <div>
      <label>Email</label>
      <input type="email" formControlName="email" autocomplete="off" required>
    </div>
    <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
      <small *ngIf="email?.errors?.required">Email is required</small>
      <small *ngIf="email?.errors?.email">Email must be a valid email address</small>
    </div>

    <div>
      <label>First Name</label>
      <input type="text" formControlName="firstName" autocomplete="off" required>
    </div>
    <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger">
      <small *ngIf="firstName?.errors?.required">First Name is required</small>
      <small *ngIf="firstName?.errors?.minlength">First Name should be at least 1 character length</small>
      <small *ngIf="firstName?.errors?.maxlength">First Name should be no more than 255 characters length</small>
    </div>

    <div>
      <label>Last Name</label>
      <input type="text" formControlName="lastName" autocomplete="off" required>
    </div>
    <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger">
      <small *ngIf="lastName?.errors?.required">Last Name is required</small>
      <small *ngIf="lastName?.errors?.minlength">Last Name should be at least 1 character length</small>
      <small *ngIf="lastName?.errors?.maxlength">Last Name should be no more than 255 characters length</small>
    </div>

    <button type="submit">Create Account</button>
  </form>
</div>

<div *ngIf=" apiResponse && !apiError && !formError">
  <h3>{{ apiResponse }}</h3>
</div>

<div *ngIf="apiError">
  <h3>Creating subscriber account failed: {{ apiResponse }}</h3>
</div>

<div *ngIf="formError">
  <h3>Please fill the form with valid data</h3>
</div>

<nav>
  <ul>
    <li><a routerLink="../">Back to home page</a></li>
  </ul>
</nav>