@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

div {

  label {
    --fill-color:#ff8710;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5px 40px;
    font: 200 2rem Raleway, sans-serif;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill-color);
    &:hover {
      background-size: 100%;
    }
  }

  input {
    position: relative;
    display: flexbox;
    padding: 4px 0;
    width: 100%;
    font: 200 2rem Raleway, sans-serif;
  }

  button {
    color: #ff8710;
    position: relative;
    display: flexbox;
    padding: 4px 0;
    margin-top: 50px;
    width: 20%;
    font: 600 2rem Raleway, sans-serif;
    text-transform: uppercase;

    &:hover {
      background-color: #ff8710;
      color: #304773;
    }
  }

  h3 {
    color: rgb(255, 255, 255);
    position: relative;
    display: block;
    padding: 10px 0px;
    width: 100%;
    font: 200 2rem Raleway, sans-serif;
  }

  
  small {
    color: rgb(255, 255, 255);
    position: relative;
    display: block;
    padding: 5px 0px;
    width: 100%;
    font: 100 1rem Raleway, sans-serif;
  }
}

