<nav>
  <ul>
    <li><a routerLink="/create-account" routerLinkActive="active">Create Account</a></li>
    <li><a routerLink="/get-account-data" routerLinkActive="active">Get Account Data</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>