<div class="form-body">
  <form autocomplete="off" [formGroup]="getSubscriberForm" (ngSubmit)="onFetchSubscribers()">
    <div>
      <label>Subscriber ID</label>
      <input type="text" formControlName="subscriberID" autocomplete="off">
    </div>
    <div *ngIf="subscriberID?.invalid && (subscriberID?.dirty || subscriberID?.touched)" class="alert alert-danger">
      <small *ngIf="subscriberID?.errors?.required">Subscriber ID is required</small>
    </div>
    <button type="submit">Get Data</button>
  </form>
</div>

<div *ngIf="apiResponse && !apiError && !formError">
  <h3>Recieved Account Data</h3>
  <h4>Subscriber ID: {{ apiResponse?.id }}</h4>
  <h4>Subscriber email address: {{ apiResponse?.email }}</h4>
  <h4>Subscriber full name: {{ apiResponse?.firstName }} {{ apiResponse?.lastName }}</h4>
</div>

<div *ngIf="apiError">
  <h3>Fetching subscriber data failed: {{ apiErrorMessage }}</h3>
</div>

<div *ngIf="formError">
  <h3>Please provide valid subscriber ID</h3>
</div>

<nav>
  <ul>
    <li><a routerLink="../">Back to home page</a></li>
  </ul>
</nav>